<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name=".di_dependency_injection.App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApp"
        tools:targetApi="31">
        <activity
            android:name=".middle.mvvm_counter.MvvmCounterActivity"
            android:exported="true">

        </activity>
        <activity
            android:name=".middle.counter.CounterActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".permit.CameraGalleryActivity"
            android:exported="true" />
        <activity
            android:name=".permit.GetContactActivity"
            android:exported="true" />
        <activity
            android:name=".app_friend.ui.ManageFriendActivity"
            android:exported="false" />
        <activity
            android:name=".app_friend.ui.TestSessionActivity"
            android:exported="true" />
        <activity
            android:name=".app_friend.ui.DetailFriendActivity"
            android:exported="false" />
        <activity
            android:name=".app_friend.ui.ListFriendActivity"
            android:exported="true" />
        <activity
            android:name=".the_twin_binding.DetailActivity"
            android:exported="false" />
        <activity
            android:name=".the_twin_binding.HomeActivity"
            android:exported="true" />
        <activity
            android:name=".lifecycle.LifecycleActivity"
            android:exported="true" />
        <activity
            android:name=".lifecycle.TabLayoutActivity"
            android:exported="true" />
        <activity
            android:name=".test.lifecycle.CobaLifecycleActivity"
            android:exported="true" />
        <activity
            android:name=".test.tab_view.CobaTabViewsActivity"
            android:exported="true" />
        <activity
            android:name=".loop_image.ImageLoopActivity"
            android:exported="true" />
        <activity
            android:name=".kalkulator.ScientificCalsulatorActivity"
            android:exported="true" />
        <activity
            android:name=".kalkulator.BasicCalculatorActivity"
            android:exported="true" />
        <activity
            android:name=".newt.res_t.ResTrActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.daniel.myapp.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider" />
        </provider>
    </application>

</manifest>